<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF--8">
    <title>Gestão de Cestas</title>
</head>
<body>
    <nav>
        <a href="/produtos">Listar Produtos</a> | 
        <a href="/produtos/cadastrar">Cadastrar Novo Produto</a>
    </nav>
    <hr>
    {{{body}}}
</body>
</html>